@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-2xl font-bold text-center;
  }

  th,
  td {
    @apply p-3 border border-slate-800 text-center text-xs
  }
}

@layer components {
  .header-link {
    @apply block transition text-white hover:text-gray-100 focus:text-slate-50 py-4 mr-5 lg:py-6 lg:mr-8
  }

  .storage-item {
    @apply w-1/4 text-center
  }

  .storage-link {
    @apply block p-6 bg-white border border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 transition
  }

  .product-add-btn {
    @apply text-white bg-blue-600 focus:outline-none font-medium rounded-full text-2xl leading-none px-3 py-2 text-center ml-3
  }

  .storage-data td:first-child {
    @apply text-left w-28
  }

  .storage-data thead tr {
    @apply text-gray-700 uppercase bg-gray-50
  }

  .btn {
    @apply text-white bg-blue-700 transition hover:bg-blue-800 rounded-lg px-5 py-2.5 focus:outline-none
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}